h1, h2, h3, h4, h5, h6 {
  font-family: Playfair Display, serif;
}

html {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #ffa000;
}

nav .brand-logo img {
  height: 56px;
}

.carousel.carousel-slider .carousel-item {
  height: 600px;
}

.carousel.carousel-slider .carousel-item > * {
  background-size: cover;
  background-position: top;
  display: flex;
  height: 100%;
}

#photo_1 {
  background-image: url('assets/photo_1.png');
}

#photo_2 {
  background-image: url('assets/photo_2.png');
}

#photo_3 {
  background-image: url('assets/photo_3.png');
}

#photo_4 {
  background-image: url('assets/photo_4.png');
}

.translucent {
  background: rgba(0, 0, 0, .38); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)); /* Standard syntax */
  align-self: flex-end;
  padding-bottom: 120px;
  width: 100%;
}


@media only screen and (min-width: 601px) {
  nav .brand-logo img {
    height: 64px;
  }
}
