<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Laado</title>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400|Raleway:300,500, 700|Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" type="image/png" href="../assets/favicon.png"/>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106745777-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-106745777-1');
  </script>
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script>
    function onResize() {
      $(".scrollspy").scrollSpy({scrollOffset: $(window).width() < 600 ? 56 : 64});  // Nav height.
    }
    // Initialize Materialize components.
    $(document).ready(function() {
      $(".button-collapse").sideNav();
      $(".carousel.carousel-slider").carousel({fullWidth: true});
      onResize();
      $(window).resize(function() {
        onResize();
      });
      setInterval(function() {
        $('.carousel').carousel('next');
      }, 10000);
    });
  </script>
  {{ content }}
</body>
</html>
